body {
    background-color: #0D0D0D;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    margin: 1%;
    font-size: 20px;
}

.navbut{
    background-color: #0D0D0D;
    color: #FF4848;
}

.navh{
    transition: all 0.3s;
}
.navh:hover{
    transform: scale(1.1);
}

.navbar {
    background-color: #FF4848;
}

.imgLogo {
    height: 10vh;
}

.menu {
    background-color: #2C2C2C;
}

.nav-item {
    padding: 1vh;
}

.ImgINV {
    padding-left: 1vh;
    padding-right: 1vh;
}

.ImgICONE {
    padding-left: 1vh;
}

.sup {
    padding-left: 1vh;
}

main {
    background-color: #FF4848;
    max-width: 95vw;
}

.imgLogoG {
    height: 30vh;
    width: 15vw;
}

.textoApresentacao {
    color: #0D0D0D;
    padding-inline: 50px;
}

.indextxt{
    background-color: #0D0D0D;
    color: #FF4848;
}

.botoesHome {
    border: 0px;
    background-color: #0D0D0D;
    color: #FF4848;
}

footer {
    background-color: #FF4848;

}

.contfot {
    gap: 25%;
}

.textofot {
    background-color: #0D0D0D;
    color: #FF4848;
}

.contcad {
    gap: 15%;
}

.mainh1 {
    background-color: #0D0D0D;
    color: #FF4848;
}

.labelcad {
    background-color: #0D0D0D;
    color: #FF4848;
}

.fotoperf {
    padding-inline: 5vw;
}

.inputcad {
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 10px;
}

.inputcad::placeholder {
    text-align: center;
    font-size: large;
}

textarea::placeholder {
    font-size: large;
}

.btncad {
    border: 0;
    background-color: #0D0D0D;
    color: #FF4848;
}

.caditem {
    padding-top: 2.5vh;
}

@media screen and (max-width: 600px) {
    .imgLogoG {
        width: 50vw;
        height: 30vh;
    }

    .textoApresentacao {
        padding-inline: 10px;
        text-align: center;
    }

    .contfot {
        flex-direction: column;
        gap: none;
        justify-content: center;
    }

    .redesfot {
        margin-top: 1rem;
    }

    .contcad {
        flex-direction: column;
        gap: none;
        justify-content: center;
        align-items: center;
    }

    .caditem {
        padding-top: 2.5vh;
    }

    .cadarea {
        padding-top: 5vh;
    }

}

@media screen and (min-width:601px) and (max-width: 900px) {
    .imgLogoG {
        width: 30vw;
        height: 30vh;
    }

    .contcad {
        flex-direction: column;
        gap: none;
        justify-content: center;
        align-items: center;
    }

    .caditem {
        padding-top: 2.5vh;
    }

    .cadarea {
        padding-top: 5vh;
    }
}

@media screen and (min-width:100px) {
    .contcad{
        gap: 10%;
    }
    
}

@media screen and (min-width:1320px) {
    .imgLogoG {
        width: 20vw;
        height: 20vh;
    }
}
